# KICKSTART -- disable I/O scheduler (optimal for SSD/NVMe) from dpanic/patchfiles
ACTION=="add|change", SUBSYSTEM=="block", KERNEL=="sd[a-z]|sr[0-9]*|nvme[0-9]*n[0-9]*|mmcblk[0-9]*", ATTR{queue/scheduler}="none"
